@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&display=swap');

*{
    font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
}

.form-container{
    padding: 10px;
    background-color: #f4f9ff;
}
.remdisivirHeading{
    font-weight: 700;
}
.submitButton{
    margin: 15px;
    height: 40px;
    font-size: 22px;
    border-radius: 2em;
    background-color: #327acd;
    color: white;
    border: 1px solid white;
    width: 20%;
}
.submitButton:hover{
    border: 2px solid black;
}
.button2{
    width: 50%;
}
.container{
    margin-top: 50px;
    text-align: center;
}
th{
    text-align: center;
}
.container-fluid{
    margin-top: 30px;
}

.filter-container input{
    border-radius: 0.5em;
    padding: 5px;
    height: 35px;
    width: 30%;
    border: 1px solid black;

}
.filter-container select{
    border-radius: 0.5em;
    padding: 5px;
    height: 35px;
    width: 30%;
    border: 1px solid black;

}
.filter-container button{
    border-radius: 0.5em;
    width: 30%;
    padding: 5px;
    height: 35px;
    margin-top: 10px ;
    background-color: #e6f4f1;
    border: 1px solid black;

}
.filter-container button:hover{
    background-color: #327acd;
    color: white;
}

@media (min-width:500px) and (max-width: 619px) {
    .submitButton{
        width: 25%;
    }
}
@media (max-width:500px) {
    .submitButton{
        width: 50%;
    }
}


/* media query for responsive table */
	@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
        

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

        tr {
            margin: 0 0 1rem 0;
        }
      
        tr:nth-child(odd) {
            background: rgb(202, 197, 197) !important;
        }
    
		td {
            box-sizing: content-box;
			border: none;
			border-bottom: 1px solid #eee !important;
			position: relative;
			padding-left: 45% !important;
            width: 50%;
            word-wrap: break-word;
            min-height: 20px;
		}

		td:before {
			position: absolute;
			top: 5px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

        
        
		
		td:nth-of-type(1):before { content: "Pincode: "; }
		td:nth-of-type(2):before { content: "State:"; }
		td:nth-of-type(3):before { content: "City"; }
		td:nth-of-type(4):before { content: "Distributor's Name:"; }
		td:nth-of-type(5):before { content: "Address:"; }
		td:nth-of-type(6):before { content: "E-mail Address:"; }
		td:nth-of-type(7):before { content: "Contact Number:"; }
        td:nth-of-type(8):before { content: "Remarks:"; }
        td:nth-of-type(9):before { content: "Blood Group:"; }
        
	}